deployment/helm/charts/orce/flows/audit-checkpoint-anchor-flow.json
[
  {
    "id": "audit-anchor-tab",
    "type": "tab",
    "label": "Audit Checkpoint Anchor",
    "disabled": false,
    "info": "Polls the DCS audit-trail checkpoint head (ADR-16) and drops it on a debug node.\n\nTODO: PIN THIS PROPERLY. A debug node anchors nothing, and evidence that never leaves the operator's reach proves nothing against the operator. Route the head to storage we do NOT control: a notary, a public chain, a counterparty - anything third-party and append-only.\n\nAuth: ORCE is an SRS System User (SRS 2.4, Table 5). It authenticates against this deployment's Hydra with its own client_id/client_secret (client_credentials grant, ORCE_NOTARY_CLIENT_ID / ORCE_NOTARY_CLIENT_SECRET) and calls DCS with the resulting access token. It holds no wallet, presents no verifiable credential, and mints nothing itself - what it may do is fixed by the DCS deployment (systemClients in the Helm values), not asked for in the token.\n\nWhat is fetched is safe to forward: the head is only hashes, counts and an RFC 3161 token - no contract DIDs, no organization identities, no event payloads. Because every root chains to its predecessor, ONE stored head pins the entire log anchored before it, so a 15 minute cadence is enough."
  },
  {
    "id": "audit-anchor-tick",
    "type": "inject",
    "z": "audit-anchor-tab",
    "name": "▶ Every 15 min",
    "props": [{ "p": "payload" }],
    "repeat": "900",
    "crontab": "",
    "once": true,
    "onceDelay": "30",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 100,
    "wires": [["audit-anchor-token-req"]]
  },
  {
    "id": "audit-anchor-token-req",
    "type": "function",
    "z": "audit-anchor-tab",
    "name": "Build client_credentials request",
    "func": "var TOKEN_URL = env.get('HYDRA_TOKEN_URL');\nvar CLIENT_ID = env.get('ORCE_NOTARY_CLIENT_ID');\nvar CLIENT_SECRET = env.get('ORCE_NOTARY_CLIENT_SECRET');\n\nif (!TOKEN_URL || !CLIENT_ID || !CLIENT_SECRET) {\n    node.error('audit checkpoint anchoring is not configured: HYDRA_TOKEN_URL, ORCE_NOTARY_CLIENT_ID and ORCE_NOTARY_CLIENT_SECRET are all required', msg);\n    return null;\n}\n\nmsg.url = TOKEN_URL;\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/x-www-form-urlencoded' };\nmsg.payload = 'grant_type=client_credentials'\n    + '&client_id=' + encodeURIComponent(CLIENT_ID)\n    + '&client_secret=' + encodeURIComponent(CLIENT_SECRET);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 100,
    "wires": [["audit-anchor-token"]]
  },
  {
    "id": "audit-anchor-token",
    "type": "http request",
    "z": "audit-anchor-tab",
    "name": "Hydra token",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "senderr": true,
    "headers": [],
    "x": 720,
    "y": 100,
    "wires": [["audit-anchor-build-req"]]
  },
  {
    "id": "audit-anchor-build-req",
    "type": "function",
    "z": "audit-anchor-tab",
    "name": "GET /pac/audit/checkpoint/head",
    "func": "if (msg.statusCode !== 200 || !msg.payload || !msg.payload.access_token) {\n    node.error('Hydra refused the client_credentials grant: HTTP ' + msg.statusCode + ' ' + JSON.stringify(msg.payload), msg);\n    return null;\n}\n\n// DCS_URL already carries the API base path (see the orce extraEnv in the\n// Helm values); every DCS endpoint hangs off it.\nvar DCS_URL = env.get('DCS_URL');\nif (!DCS_URL) {\n    node.error('DCS_URL is not configured', msg);\n    return null;\n}\n\nmsg.method = 'GET';\nmsg.url = DCS_URL.replace(/\\/$/, '') + '/pac/audit/checkpoint/head';\nmsg.headers = { 'Authorization': 'Bearer ' + msg.payload.access_token };\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1010,
    "y": 100,
    "wires": [["audit-anchor-fetch"]]
  },
  {
    "id": "audit-anchor-fetch",
    "type": "http request",
    "z": "audit-anchor-tab",
    "name": "DCS checkpoint head",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "senderr": true,
    "headers": [],
    "x": 1310,
    "y": 100,
    "wires": [["audit-anchor-filter"]]
  },
  {
    "id": "audit-anchor-filter",
    "type": "function",
    "z": "audit-anchor-tab",
    "name": "Take only a new head",
    "func": "// 404 until the very first checkpoint is anchored - nothing to pin yet.\nif (msg.statusCode === 404) {\n    return null;\n}\nif (msg.statusCode === 401 || msg.statusCode === 403) {\n    node.error('DCS rejected the system client: HTTP ' + msg.statusCode + '. Is dcs-orce-notary listed under systemClients in the DCS values?', msg);\n    return null;\n}\nif (msg.statusCode !== 200) {\n    node.warn('checkpoint head unavailable: HTTP ' + msg.statusCode);\n    return null;\n}\n\nvar head = msg.payload;\nif (!head || typeof head.seq !== 'number' || !head.root) {\n    node.warn('malformed checkpoint head, not pinning');\n    return null;\n}\n\n// Re-pinning an unchanged head adds no evidence: the chain has not grown.\nvar last = flow.get('lastSeenSeq') || 0;\nif (head.seq <= last) {\n    return null;\n}\nflow.set('lastSeenSeq', head.seq);\n\nmsg.payload = {\n    todo: 'PIN THIS PROPERLY - forward to an append-only sink outside this operator (notary, chain, counterparty). A debug node anchors nothing.',\n    observed_at: new Date().toISOString(),\n    seq: head.seq,\n    root: head.root,\n    prev_root: head.prev_root || null,\n    leaf_count: head.leaf_count,\n    created_at: head.created_at,\n    tsa_timestamp: head.tsa_timestamp || null,\n    timestamped_at: head.timestamped_at || null\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1600,
    "y": 100,
    "wires": [["audit-anchor-debug"]]
  },
  {
    "id": "audit-anchor-debug",
    "type": "debug",
    "z": "audit-anchor-tab",
    "name": "TODO: pin this properly",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.root",
    "statusType": "auto",
    "x": 1890,
    "y": 100,
    "wires": []
  }
]
