deployment/helm/charts/orce/flows/contract-target-flow.json
[
    {
        "id": "b3f7c8e1a2d4f6a8",
        "type": "tab",
        "label": "Contract Target System",
        "disabled": false,
        "info": "Reference Contract Target System (UC-05-01, DCS-IR-SI-02/-05): receives the DCS deployment dispatch, verifies the payload's canonical content hash, returns a synchronous ack, and then acts as a REAL target — it POSTs the authoritative acknowledgement callback (status + execution-evidence receipt) and a measured KPI report back to the DCS deployment-callback endpoint, authenticated with the shared callback secret (DCS-FR-SM-10/-12, DCS-FR-CWE-09/-31)."
    },
    {
        "id": "c1a2b3c4d5e6f7a8",
        "type": "http in",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "POST /contract-target/deploy",
        "url": "/contract-target/deploy",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 165,
        "y": 140,
        "wires": [
            [
                "d2b3c4d5e6f7a8b9"
            ]
        ]
    },
    {
        "id": "d2b3c4d5e6f7a8b9",
        "type": "function",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "Verify content hash and build ack",
        "func": "const receivedAtMs = Date.now();\n\n// The DCS deployment dispatch envelope (command/deploy.go): a JSON-LD\n// document whose canonical content hash covers the WHOLE envelope minus\n// dcs:contentHash itself.\nconst required = [\"dcs:contractDid\", \"dcs:contractVersion\", \"dcs:correlationId\", \"dcs:timestamp\", \"dcs:contentHash\", \"dcs:contractDocument\"];\n\nfor (const key of required) {\n  if (msg.payload === undefined || msg.payload[key] === undefined) {\n    msg.statusCode = 400;\n    msg.headers = { \"Content-Type\": \"application/json\" };\n    msg.payload = { error: `Missing field: ${key}` };\n    return [msg, null];\n  }\n}\n\n// Recompute the canonical content hash exactly as the sender did\n// (recursively key-sorted JSON, compact, no HTML escaping — see\n// hashDeploymentPayload in command/deploy.go) so a tampered or corrupted\n// payload is rejected rather than blindly acknowledged.\nfunction sortKeysDeep(value) {\n  if (Array.isArray(value)) {\n    return value.map(sortKeysDeep);\n  }\n  if (value && typeof value === \"object\") {\n    return Object.keys(value).sort().reduce((acc, key) => {\n      acc[key] = sortKeysDeep(value[key]);\n      return acc;\n    }, {});\n  }\n  return value;\n}\n\nconst envelope = Object.assign({}, msg.payload);\ndelete envelope[\"dcs:contentHash\"];\nconst canonical = JSON.stringify(sortKeysDeep(envelope));\nconst computedHash = \"sha256:\" + crypto.createHash(\"sha256\").update(canonical).digest(\"hex\");\n\nif (computedHash !== msg.payload[\"dcs:contentHash\"]) {\n  msg.statusCode = 400;\n  msg.headers = { \"Content-Type\": \"application/json\" };\n  msg.payload = {\n    error: \"dcs:contentHash does not match the payload\",\n    expected: msg.payload[\"dcs:contentHash\"],\n    computed: computedHash\n  };\n  return [msg, null];\n}\n\nconst activatedAt = new Date().toISOString();\nconst correlationId = msg.payload[\"dcs:correlationId\"];\nconst contractDid = msg.payload[\"dcs:contractDid\"];\n\n// Everything the async callback legs need, carried on a dedicated msg\n// property so the http response leg and the callback legs stay independent.\nconst target = {\n  did: contractDid,\n  correlation_id: correlationId,\n  payload_hash: computedHash,\n  activated_at: activatedAt,\n  received_at_ms: receivedAtMs\n};\n\nconst ack = {\n  statusCode: 200,\n  headers: { \"Content-Type\": \"application/json\" },\n  payload: {\n    correlation_id: correlationId,\n    payload_hash: computedHash,\n    activated_at: activatedAt\n  },\n  res: msg.res,\n  req: msg.req\n};\n\nreturn [ack, { target: target }];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "e3c4d5e6f7a8b9c0"
            ],
            [
                "f4d5e6f7a8b9c0d1"
            ]
        ]
    },
    {
        "id": "e3c4d5e6f7a8b9c0",
        "type": "http response",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "f4d5e6f7a8b9c0d1",
        "type": "function",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "Build acknowledgement callback",
        "func": "// The authoritative deployment acknowledgement (DCS-FR-SM-10/-12): the\n// target posts status + execution-evidence receipt back to DCS over the\n// shared-secret-protected callback endpoint.\nconst dcsUrl = env.get('DCS_URL') || 'http://dcs-digital-contracting-service:8991';\nconst secret = env.get('DEPLOYMENT_CALLBACK_SECRET') || 'bdd-deployment-callback-secret';\n\nconst t = msg.target;\nmsg.url = dcsUrl + '/contract/deployment/callback';\nmsg.method = 'POST';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'X-Deployment-Callback-Secret': secret\n};\nmsg.payload = {\n  did: t.did,\n  correlation_id: t.correlation_id,\n  status: 'ACKNOWLEDGED',\n  receipt: {\n    correlation_id: t.correlation_id,\n    payload_hash: t.payload_hash,\n    activated_at: t.activated_at\n  }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "a5e6f7a8b9c0d1e2"
            ]
        ]
    },
    {
        "id": "a5e6f7a8b9c0d1e2",
        "type": "http request",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "POST ack callback to DCS",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 220,
        "wires": [
            [
                "b6f7a8b9c0d1e2f3"
            ]
        ]
    },
    {
        "id": "b6f7a8b9c0d1e2f3",
        "type": "function",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "Build measured KPI callback",
        "func": "// The target's own measurement (DCS-FR-CWE-09/-31): how long activation\n// took from receiving the dispatch to acknowledging it — a quantity only\n// the target system can observe, reported over the same callback channel.\nif (msg.statusCode < 200 || msg.statusCode >= 300) {\n  node.warn('deployment ack callback rejected by DCS: HTTP ' + msg.statusCode + ' ' + msg.payload);\n}\n\nconst dcsUrl = env.get('DCS_URL') || 'http://dcs-digital-contracting-service:8991';\nconst secret = env.get('DEPLOYMENT_CALLBACK_SECRET') || 'bdd-deployment-callback-secret';\n\nconst t = msg.target;\nconst latencyMs = Math.max(1, Date.now() - t.received_at_ms);\n\nmsg.url = dcsUrl + '/contract/deployment/callback';\nmsg.method = 'POST';\nmsg.headers = {\n  'Content-Type': 'application/json',\n  'X-Deployment-Callback-Secret': secret\n};\nmsg.payload = {\n  did: t.did,\n  correlation_id: t.correlation_id,\n  kpi: {\n    metric: 'activation_latency_ms',\n    value: String(latencyMs)\n  }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "c7a8b9c0d1e2f3a4"
            ]
        ]
    },
    {
        "id": "c7a8b9c0d1e2f3a4",
        "type": "http request",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "POST KPI callback to DCS",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 300,
        "wires": [
            [
                "d8b9c0d1e2f3a4b5"
            ]
        ]
    },
    {
        "id": "d8b9c0d1e2f3a4b5",
        "type": "function",
        "z": "b3f7c8e1a2d4f6a8",
        "name": "Log rejected KPI callback",
        "func": "if (msg.statusCode < 200 || msg.statusCode >= 300) {\n  node.warn('deployment KPI callback rejected by DCS: HTTP ' + msg.statusCode + ' ' + msg.payload);\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 300,
        "wires": [
            []
        ]
    }
]
