deployment/helm/charts/orce/flows/system-user-capabilities-flow.json
[
  {
    "id": "sysuser-tab",
    "type": "tab",
    "label": "System User Capabilities",
    "disabled": false,
    "info": "Demonstrates the SRS System User classes (SRS 2.4, Table 5) as separate machine clients against this deployment's Hydra.\n\nEach probe authenticates with ITS OWN client_id/client_secret (client_credentials) and calls one endpoint of its class. One client per capability, never a shared machine identity: a flow reaches only what its class may reach, and the audit trail attributes actions to the capability rather than to 'ORCE'.\n\n- Contract Creator (ORCE_CREATOR_CLIENT_ID): lists the approved templates it would instantiate from.\n- Contract Manager (ORCE_MANAGER_CLIENT_ID): lists the contracts it manages.\n- Contract Signer (ORCE_SIGNER_CLIENT_ID): attempts to start a signing ceremony and MUST be refused. eIDAS Art. 3(9) makes a signatory a natural person and Art. 26 requires their sole control, so an unattended client cannot produce an advanced signature; a legal person's instrument is a seal (Art. 3(25)), which DCS does not implement. See ADR-17. A 403 here is the expected, correct outcome - the probe reports SUCCESS on refusal and raises an error if signing ever becomes possible.\n\nThe results go to debug nodes: this tab exists to show what each class can and cannot do, and it is the BDD suite (features/12_system_based_contract_management/system_user_classes.feature) that asserts the same boundaries."
  },
  {
    "id": "sysuser-tick",
    "type": "inject",
    "z": "sysuser-tab",
    "name": "▶ Probe capabilities",
    "props": [{ "p": "payload" }],
    "repeat": "3600",
    "crontab": "",
    "once": true,
    "onceDelay": "45",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 200,
    "wires": [["sysuser-fanout"]]
  },
  {
    "id": "sysuser-fanout",
    "type": "function",
    "z": "sysuser-tab",
    "name": "One probe per class",
    "func": "// Each entry names the env vars holding that class's own credentials, the\n// endpoint that exercises it, and whether DCS is expected to permit it.\nvar probes = [\n    { role: 'Sys. Contract Creator', idEnv: 'ORCE_CREATOR_CLIENT_ID', secretEnv: 'ORCE_CREATOR_CLIENT_SECRET', method: 'GET',  path: '/template/search', expect: 'allowed' },\n    { role: 'Sys. Contract Manager', idEnv: 'ORCE_MANAGER_CLIENT_ID', secretEnv: 'ORCE_MANAGER_CLIENT_SECRET', method: 'GET',  path: '/contract/retrieve', expect: 'allowed' },\n    { role: 'Sys. Contract Signer',  idEnv: 'ORCE_SIGNER_CLIENT_ID',  secretEnv: 'ORCE_SIGNER_CLIENT_SECRET',  method: 'POST', path: '/signature/request', expect: 'refused' }\n];\n\nvar out = [];\nfor (var i = 0; i < probes.length; i++) {\n    var probe = probes[i];\n    var clientId = env.get(probe.idEnv);\n    var clientSecret = env.get(probe.secretEnv);\n    if (!clientId || !clientSecret) {\n        node.warn(probe.role + ' has no credentials configured (' + probe.idEnv + '), skipping');\n        continue;\n    }\n    out.push({ probe: probe, clientId: clientId, clientSecret: clientSecret });\n}\nreturn [out];",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 200,
    "wires": [["sysuser-token-req"]]
  },
  {
    "id": "sysuser-token-req",
    "type": "function",
    "z": "sysuser-tab",
    "name": "Build client_credentials request",
    "func": "var TOKEN_URL = env.get('HYDRA_TOKEN_URL');\nif (!TOKEN_URL) {\n    node.error('HYDRA_TOKEN_URL is not configured', msg);\n    return null;\n}\n\nmsg.probe = msg.payload.probe;\nmsg.url = TOKEN_URL;\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/x-www-form-urlencoded' };\nmsg.payload = 'grant_type=client_credentials'\n    + '&client_id=' + encodeURIComponent(msg.payload.clientId)\n    + '&client_secret=' + encodeURIComponent(msg.payload.clientSecret);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 700,
    "y": 200,
    "wires": [["sysuser-token"]]
  },
  {
    "id": "sysuser-token",
    "type": "http request",
    "z": "sysuser-tab",
    "name": "Hydra token",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "senderr": true,
    "headers": [],
    "x": 980,
    "y": 200,
    "wires": [["sysuser-call-req"]]
  },
  {
    "id": "sysuser-call-req",
    "type": "function",
    "z": "sysuser-tab",
    "name": "Call the class's endpoint",
    "func": "if (msg.statusCode !== 200 || !msg.payload || !msg.payload.access_token) {\n    node.error(msg.probe.role + ': Hydra refused the client_credentials grant: HTTP ' + msg.statusCode, msg);\n    return null;\n}\n\nvar DCS_URL = env.get('DCS_URL');\nif (!DCS_URL) {\n    node.error('DCS_URL is not configured', msg);\n    return null;\n}\n\nmsg.method = msg.probe.method;\nmsg.url = DCS_URL.replace(/\\/$/, '') + msg.probe.path;\nmsg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.payload = msg.probe.method === 'POST' ? {} : '';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 1260,
    "y": 200,
    "wires": [["sysuser-call"]]
  },
  {
    "id": "sysuser-call",
    "type": "http request",
    "z": "sysuser-tab",
    "name": "DCS endpoint",
    "method": "use",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "senderr": true,
    "headers": [],
    "x": 1520,
    "y": 200,
    "wires": [["sysuser-verdict"]]
  },
  {
    "id": "sysuser-verdict",
    "type": "function",
    "z": "sysuser-tab",
    "name": "Judge against the expectation",
    "func": "var probe = msg.probe;\nvar status = msg.statusCode;\nvar refused = (status === 401 || status === 403);\n\nvar result = {\n    role: probe.role,\n    call: probe.method + ' ' + probe.path,\n    status: status,\n    expected: probe.expect\n};\n\nif (probe.expect === 'refused') {\n    if (refused) {\n        result.verdict = 'OK - refused, as eIDAS requires (ADR-17)';\n        return [result, null];\n    }\n    // A machine that CAN sign is a compliance defect, not a happy path.\n    result.verdict = 'COMPLIANCE DEFECT - a System Contract Signer was allowed to sign';\n    node.error(result.verdict + ': HTTP ' + status, msg);\n    return [null, { payload: result }];\n}\n\nif (refused) {\n    result.verdict = 'DENIED - is this client listed under systemClients in the DCS values?';\n    return [null, { payload: result }];\n}\nresult.verdict = 'OK - permitted';\nreturn [{ payload: result }, null];",
    "outputs": 2,
    "noerr": 0,
    "x": 1800,
    "y": 200,
    "wires": [["sysuser-debug-ok"], ["sysuser-debug-bad"]]
  },
  {
    "id": "sysuser-debug-ok",
    "type": "debug",
    "z": "sysuser-tab",
    "name": "Capability as expected",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.verdict",
    "statusType": "auto",
    "x": 2110,
    "y": 160,
    "wires": []
  },
  {
    "id": "sysuser-debug-bad",
    "type": "debug",
    "z": "sysuser-tab",
    "name": "Unexpected capability",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload.verdict",
    "statusType": "auto",
    "x": 2110,
    "y": 240,
    "wires": []
  }
]
