deployment/helm/charts/orce/flows/tsa_orce_flow.json
[
 {
  "id": "tsa_flow",
  "type": "tab",
  "label": "RFC3161 TSA Flow",
  "disabled": false,
  "info": ""
 },
 {
  "id": "http_in",
  "type": "http in",
  "z": "tsa_flow",
  "name": "TSA Endpoint",
  "url": "/tsa/:hash",
  "method": "get",
  "upload": false,
  "swaggerDoc": "",
  "x": 402.5,
  "y": 160,
  "wires": [
   [
    "validate"
   ]
  ]
 },
 {
  "id": "validate",
  "type": "function",
  "z": "tsa_flow",
  "name": "Validate + Build OpenSSL",
  "func": "const hash = msg.req.params.hash;\n\nif (!/^[a-fA-F0-9]{64}$/.test(hash)) {\n    msg.statusCode = 400;\n    msg.payload = \"Invalid SHA-256 hash\";\n    return [null, msg];\n}\n\nmsg.hash = hash;\nmsg.tsqfile = `/tmp/request-${msg._msgid}.tsq`;\nmsg.tsrfile = `/tmp/request-${msg._msgid}.tsr`;\nmsg.payload = `ts -query -digest ${hash} -sha256 -cert -out ${msg.tsqfile}`;\n\nreturn [msg, null];",
  "outputs": 2,
  "timeout": "",
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 400,
  "y": 300,
  "wires": [
   [
    "exec"
   ],
   [
    "http_resp_error"
   ]
  ]
 },
 {
  "id": "exec",
  "type": "exec",
  "z": "tsa_flow",
  "command": "openssl",
  "addpay": "payload",
  "append": "",
  "useSpawn": "false",
  "timer": "",
  "winHide": false,
  "name": "Generate TSQ",
  "x": 402.5,
  "y": 440,
  "wires": [
   [
    "prep_reply"
   ],
   [],
   [
    "debug_exec"
   ]
  ]
 },
 {
  "id": "filein",
  "type": "file in",
  "z": "tsa_flow",
  "name": "Read TSR",
  "filename": "filename",
  "filenameType": "msg",
  "format": "binary",
  "chunk": false,
  "sendError": false,
  "encoding": "none",
  "allProps": false,
  "x": 402.5,
  "y": 580,
  "wires": [
   [
    "http_resp",
    "cleanup_prep"
   ]
  ]
 },
 {
  "id": "http_resp",
  "type": "http response",
  "z": "tsa_flow",
  "name": "Return TSR",
  "statusCode": "",
  "headers": {
   "Content-Type": "application/timestamp-reply"
  },
  "x": 402.5,
  "y": 880,
  "wires": []
 },
 {
  "id": "http_resp_error",
  "type": "http response",
  "z": "tsa_flow",
  "name": "Error Response",
  "statusCode": "400",
  "x": 737.5,
  "y": 300,
  "wires": []
 },
 {
  "id": "debug_exec",
  "type": "debug",
  "z": "tsa_flow",
  "name": "Exec Error",
  "active": true,
  "tosidebar": true,
  "complete": true,
  "x": 737.5,
  "y": 460,
  "wires": []
 },
 {
  "id": "cleanup_prep",
  "type": "function",
  "z": "tsa_flow",
  "name": "Prepare cleanup",
  "func": "return { payload: `-f ${msg.tsqfile} ${msg.tsrfile}` };",
  "outputs": 1,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 560,
  "y": 260,
  "wires": [
   [
    "cleanup_exec"
   ]
  ]
 },
 {
  "id": "cleanup_exec",
  "type": "exec",
  "z": "tsa_flow",
  "command": "rm",
  "addpay": "payload",
  "append": "",
  "useSpawn": "false",
  "timer": "5",
  "winHide": false,
  "oldrc": false,
  "name": "Delete TSQ",
  "x": 720,
  "y": 260,
  "wires": [
   [],
   [],
   []
  ]
 },
 {
  "id": "prep_reply",
  "type": "function",
  "z": "tsa_flow",
  "name": "Build ts -reply",
  "func": "msg.payload = `ts -reply -queryfile ${msg.tsqfile} -config /data/tsa/openssl-tsa.cnf -out ${msg.tsrfile}`;\nreturn msg;",
  "outputs": 1,
  "timeout": "",
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 400,
  "y": 520,
  "wires": [
   [
    "exec_reply"
   ]
  ]
 },
 {
  "id": "exec_reply",
  "type": "exec",
  "z": "tsa_flow",
  "command": "openssl",
  "addpay": "payload",
  "append": "",
  "useSpawn": "false",
  "timer": "",
  "winHide": false,
  "name": "Local TSA reply",
  "x": 400,
  "y": 600,
  "wires": [
   [],
   [],
   [
    "check_rc"
   ]
  ]
 },
 {
  "id": "check_rc",
  "type": "function",
  "z": "tsa_flow",
  "name": "Check reply rc",
  "func": "if (msg.payload && msg.payload.code === 0) {\n    msg.filename = msg.tsrfile;\n    return [msg, null];\n}\nmsg.statusCode = 502;\nmsg.payload = `local TSA reply failed rc=${msg.payload && msg.payload.code}`;\nreturn [null, msg];",
  "outputs": 2,
  "timeout": "",
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 400,
  "y": 680,
  "wires": [
   [
    "filein"
   ],
   [
    "http_resp_error_tsa"
   ]
  ]
 },
 {
  "id": "http_resp_error_tsa",
  "type": "http response",
  "z": "tsa_flow",
  "name": "TSA Error Response",
  "statusCode": "",
  "x": 740,
  "y": 680,
  "wires": []
 }
]