docs/tsa_orce_flow.json
[
    {
        "id": "tsa_flow",
        "type": "tab",
        "label": "RFC3161 TSA Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "http_in",
        "type": "http in",
        "z": "tsa_flow",
        "name": "TSA Endpoint",
        "url": "/tsa/:hash",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 402.5,
        "y": 160,
        "wires": [
            [
                "validate"
            ]
        ]
    },
    {
        "id": "validate",
        "type": "function",
        "z": "tsa_flow",
        "name": "Validate + Build OpenSSL",
        "func": "const hash = msg.req.params.hash;\n\nif (!/^[a-fA-F0-9]{64}$/.test(hash)) {\n    msg.statusCode = 400;\n    msg.payload = \"Invalid SHA-256 hash\";\n    return [null, msg];\n}\n\nmsg.hash = hash;\nmsg.payload = `ts -query -digest ${hash} -sha256 -cert -out /tmp/request.tsq`;\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "exec"
            ],
            [
                "http_resp_error"
            ]
        ]
    },
    {
        "id": "exec",
        "type": "exec",
        "z": "tsa_flow",
        "command": "openssl",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "name": "Generate TSQ",
        "x": 402.5,
        "y": 440,
        "wires": [
            [
                "filein"
            ],
            [],
            [
                "debug_exec"
            ]
        ]
    },
    {
        "id": "filein",
        "type": "file in",
        "z": "tsa_flow",
        "name": "Read TSQ",
        "filename": "/tmp/request.tsq",
        "filenameType": "str",
        "format": "binary",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 402.5,
        "y": 580,
        "wires": [
            [
                "http_request",
                "d3033cc052a06c83"
            ]
        ]
    },
    {
        "id": "http_request",
        "type": "http request",
        "z": "tsa_flow",
        "name": "FreeTSA POST",
        "method": "POST",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://freetsa.org/tsr",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 402.5,
        "y": 720,
        "wires": [
            [
                "http_resp",
                "71ee3f008826813b"
            ]
        ]
    },
    {
        "id": "http_resp",
        "type": "http response",
        "z": "tsa_flow",
        "name": "Return TSR",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/timestamp-reply"
        },
        "x": 402.5,
        "y": 880,
        "wires": []
    },
    {
        "id": "http_resp_error",
        "type": "http response",
        "z": "tsa_flow",
        "name": "Error Response",
        "statusCode": "400",
        "x": 737.5,
        "y": 300,
        "wires": []
    },
    {
        "id": "debug_exec",
        "type": "debug",
        "z": "tsa_flow",
        "name": "Exec Error",
        "active": true,
        "tosidebar": true,
        "complete": true,
        "x": 737.5,
        "y": 460,
        "wires": []
    },
    {
        "id": "d3033cc052a06c83",
        "type": "debug",
        "z": "tsa_flow",
        "name": "2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 737.5,
        "y": 600,
        "wires": []
    },
    {
        "id": "71ee3f008826813b",
        "type": "debug",
        "z": "tsa_flow",
        "name": "3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 737.5,
        "y": 760,
        "wires": []
    }
]